@model ProductModel

@{
    ViewData["Title"] = "Product Details";
}

<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryNameDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryNameDisplay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierNameDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierNameDisplay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgSrcDisplay)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ImgSrcDisplay is not null)
            {
                <img src="Model.ImgSrcDisplay" class="img-fluid" />
            }
            else
            {
                <i class="fa-regular fa-image" title="No Image"></i>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to Product List </a>
</div>
